p,
li,
h2,
h3 {
  font-size: 18px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title,
.menu {
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap; /* Makes it mobile responsible */

}

.menu img {
  max-width: 400px;
  max-height: 200px ;
  object-fit: cover;
  filter: brightness(50%);
}

.menu li {
  font-family: 'Courier New', Courier, monospace;
  list-style-type: none;
  font-size: 36px;
  color: violet;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: darkgray 2in;
  font-weight: bolder;
}

.menu div {
  position: relative;
}

img {
  border: 1px solid;
  border-radius: 16px;
  object-fit: cover;
  max-width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

ul {
/*   Fixed title not being aligned with menu with this */
  padding-inline-start: 0;
}